<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      /* Base styles */

      * {
        box-sizing: border-box;
      }

      html,
      body {
        margin: 0;
        font-family: Helvetica, sans-serif;
      }

      html {
        -webkit-print-color-adjust: exact;
      }

      h3 {
        font-size: 0.8rem;
        font-weight: 400;
        color: rgb(172, 171, 171);
        margin-bottom: 0;
      }

      p {
        margin: 0.3rem 0;
      }

      .wrapper {
        width: 90%;
        margin: 0 auto;
        color: rgb(64, 64, 64);
      }

      /* Header */

      .header-box {
        background-color: rgb(96, 167, 96);
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 1rem 3rem;
        font-size: 0.8rem;
      }

      .main-header {
        margin-right: 2rem;
        font-size: 3rem;
        font-weight: 400;
      }

      /*---------INVOICE HEADER------------*/

      .invoice-header {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        padding: 2rem 0;
      }

      .recipient-details {
        text-align: left;
        margin-right: 2rem;
      }

      .invoice-details {
        display: flex;
      }

      .invoice-total {
        text-align: end;
      }

      /* .invoice-total__header {
        margin-bottom: 0;
      } */

      .invoice-total__data {
        color: rgb(96, 167, 96);
        font-size: 2rem;
        margin-top: 0.3;
      }

      /*----------Table----------------*/

      table {
        width: 92%;
        margin: auto;
        border-top: 2px solid rgb(96, 167, 96);
        border-collapse: collapse;
        padding-bottom: 100px;
      }

      thead {
        color: rgb(96, 167, 96);
      }

      th,
      td {
        vertical-align: top;
        page-break-inside: avoid;
        padding: 1rem 1rem 1rem 0.5rem;
      }

      th {
        white-space: nowrap;
        font-size: 15px;
      }

      td {
        font-size: 14px;
      }

      .row {
        border-bottom: 1px solid rgb(176, 176, 176);
        color: black;
        font-weight: 500;
      }

      .left-align {
        text-align: left;
      }

      .right-align {
        text-align: right;
      }

      .center-align {
        text-align: center;
      }

      /* Invoice-footer */

      .invoice-footer {
        display: flex;
        justify-content: space-between;
        margin: 2rem auto 0 auto;
        width: 90%;
      }

      .invoice-summary__data {
        color: rgb(96, 167, 96);
      }

      .invoice-terms__body {
        font-size: 0.9rem;
      }

      /* For print */

      @media print {
        .invoice-footer {
          page-break-inside: avoid;
        }

        tr {
          page-break-inside: avoid;
        }
      }
    </style>
  </head>

  <body>
    <div class="header-box">
      <h1 class="main-header">INVOICE</h1>
      <div class="contact-details">
        <p class="contact-details__company"><%= user.company %></p>
        <p class="contact-details__phone">Phone: <%= user.phone %></p>
        <p class="contact-details__email">Email: <%= user.email %></p>
        <p class="contact-details__wechat">Wechat: <%= user.wechatId %></p>
      </div>
      <div class="address-details">
        <p class="adress-details__street"><%= user.street %></p>
        <p class="adress-details__city"><%= user.zip %> <%= user.city %></p>
        <p>Sweden</p>
      </div>
    </div>
    <main class="wrapper">
      <section class="invoice-header">
        <div class="invoice-details">
          <div class="recipient-details">
            <h3 class="recipient-details__header">Billed to</h3>
            <p class="recipient-details__name"><%= invoice.recipient.name %></p>
            <p class="recipient-details__street">
              <%= invoice.recipient.street %>
            </p>
            <p class="recipient-details__city"><%= invoice.recipient.city %></p>
          </div>
          <div class="invoice-data">
            <div class="invoice-number">
              <h3 class="invoice-number__header">Invoice number</h3>
              <p class="invoice-number__data"><%= invoice.invoiceNumber %></p>
            </div>
            <div class="invoice-date">
              <h3>Date Of Issue</h3>
              <p class="invoice-date__data">
                <%= invoice.date.toLocaleDateString('sv-SE') %>
              </p>
            </div>
          </div>
        </div>

        <div class="invoice-total">
          <h3 class="invoice-total__header">Invoice Total</h3>
          <p class="invoice-total__data">
            <%= formatCurrency(invoice.total) %>
          </p>
        </div>
      </section>

      <table>
        <thead>
          <tr>
            <th width="400" class="left-align">Description</th>
            <th width="50" class="right-align">Unit Cost</th>
            <th width="150" class="right-align">Quantity</th>
            <th width="200" class="right-align">
              Amount
            </th>
          </tr>
        </thead>
        <tbody>
          <% invoice.rows.forEach(row => { %>
          <tr class="row">
            <td width="400" class="left-align"><%= row.description %></td>
            <td width="150" class="right-align">
              <%= formatCurrency(row.price) %>
            </td>
            <td width="50" class="right-align"><%= row.quantity %></td>
            <td width="200" class="right-align">
              <%= formatCurrency(row.amount) %>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>

      <section class="invoice-footer">
        <div class="invoice-terms">
          <h3 class="invoice-terms__header">Invoice Terms</h3>
          <p class="invoice-terms__body">
            Please pay your invoice by <%= formatDate(invoice.date) %>
          </p>
        </div>
        <div class="invoice-summary">
          <h3 class="invoice-summary__data">
            Amount Due: <%= formatCurrency(invoice.total)%>
          </h3>
        </div>
      </section>
    </main>
  </body>
</html>
